# Server config
AI_SERVER_PORT=8070

# Kafka connection (use private IP of Kafka EC2 instance)
KAFKA_BROKERS=
KAFKA_CONSUMER_GROUP_ID=

# Topics
KAFKA_TOPIC_CONSUME=
KAFKA_TOPIC_PRODUCE=

# OpenAI API
OPENAI_API_KEY=
OPENAI_MODEL=

# Redis (use private IP of Redis EC2 instance)
REDIS_URL=
REDIS_PASSWORD=
