# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env files (can opt-in for committing if needed)
.env
.env.development
.env.staging
.env.production

# prod Bruno env
docs/api/environments/prod.bru

# Supabase temp files
supabase/.branches/_current_branch
supabase/.temp/cli-latest

# AI
.claude

.DS_Store
