GO_ENV=development
PORT=3000

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?sslmode=disable
DATABASE_URL_REPLICA=postgresql://postgres:postgres@localhost:5432/postgres?sslmode=disable

# Redis
REDIS_URL=localhost:6379
REDIS_TTL_SECONDS=3600

# Kafka
KAFKA_BROKERS=localhost:9094
