# Kafka ports
KAFKA_PORT=9092
KAFKA_EXTERNAL_PORT=9094

# IP privado da EC2 do Kafka (será usado no KAFKA_ADVERTISED_LISTENERS)
# Use o IP privado da VPC para comunicação interna
KAFKA_EXTERNAL_HOST=10.0.1.100

# Kafka UI
KAFKA_UI_PORT=8082
